mixin dropdown(params = {})
  -
    const {
      hasCommonValue = true,
      open= false,
      items = [],
    } = params;

    const dropdownWithCommonValue = hasCommonValue
    ? "dropdown_with-common-value js-dropdown_with-common-value"
    : "dropdown_with-separate-value js-dropdown_with-separate-value"

    const textWithCommonValue = hasCommonValue
    ? "dropdown__text_with-common-value"
    : "dropdown__text_with-separate-value"

  details.dropdown(class = `${dropdownWithCommonValue}` open= open)
    summary.dropdown__summary
      p.dropdown__text.iqdropdown-selection(class= `${textWithCommonValue}`)
      span.dropdown__arrow expand_more
    .dropdown__menu(class= "iqdropdown-menu")
      each item, index in items
        .dropdown__menu-option(class="iqdropdown-menu-option" 
        data-id=`item-${index + 1}` data-defaultcount= item.count)
          .dropdown__item-title
            p.dropdown__item(class= "iqdropdown-item")= item.text
      if hasCommonValue     
        .dropdown__buttons
          button.dropdown__button(
            class= "js-iqdropdown-button_clean dropdown__button_hide") Очистить
          button.dropdown__button(
            class= "js-iqdropdown-button_apply") Применить