include ../../components/slider/slider
include ../../components/rate/rate

mixin card-room(params = {})
  -
    const {
      textNumber= "",
      textNumberBefore= "№ ",
      textNumberAfter= "",
      priceValue= "",
      priceText= "в сутки",
      reviewsValue= "",
      ratingValue,
      reviewsText= "Oтзывов",
      roomsImages,
    } = params;

  .card-room
    .card-room__slider
      +slider({
        forCardRoom: true,
        roomsImages
      })
    .card-room__info
      .card-room__header
        .card-room__number-block
          .card-room__text-before= textNumberBefore
          .card-room__number= textNumber
          .card-room__text-after= textNumberAfter
        .card-room__price-block
          span.card-room__price= priceValue
          span.card-room__price-text= priceText
      .card-room__rating-box
        .card-room__rating
          +rate({rating: ratingValue})
        .card-room__reviews
          .card-room__reviews-value= reviewsValue
          .card-room__reviews-text= reviewsText

    
    