include ../../components/arrow/arrow

mixin button(params = {})
  -
    const {
      type= "button",
      href= "",
      text= "",
      withArrow= false,
      isHovered= false,
      withBorder= false,
      borderLess= false,
      borderLessHovered= false,
      longWithArrow= false,
      isForPage= false,
      isSelectedPage= false,
      isTurnNextPage= false,
      forLogin= false,
      forRegistration= false,
      forCard= false,
      disabled= false,
    } = params;

    const tagBtn = href ? "a" : "button";
    const buttonAttributes = {
      a: {
        href: href,
      },
      button: {
        type: type,
        disabled: disabled,
      }
    }
    const btnModifiers = {
      "button_with-arrow" : withArrow,
      "button_hovered" : isHovered,
      "button_with-border" : withBorder,
      "button_border-less" : borderLess,
      "button_border-less-hovered" : borderLessHovered,
      "button_long-with-arrow" : longWithArrow,
      "button_page" : isForPage,
      "button_selected-page" : isSelectedPage,
      "button_turned-next-page" : isTurnNextPage,
      "button_login" : forLogin,
      "button_registration" : forRegistration,
    }

  #{tagBtn}.button(class= btnModifiers)&attributes(buttonAttributes[tagBtn])
    span.button__text= text
    if withArrow
      span.button__arrow
        +arrow({withGradient: false})
    if isTurnNextPage
      +arrow({withGradient: false})