include ../../components/title-component/title-component

mixin date-dropdown(params = {})
  -
    const {
      readonly= true,
      placeholder= "",
      titleLeftDropdown= "",
      titleRightDropdown= "",
    } = params;

    const inputAttributes = {
      readonly: readonly,
      placeholder: placeholder,
    }

  .date-dropdown.js-date-dropdown
    .date-dropdown__input-group 
      .date-dropdown__title
        +title-component(titleLeftDropdown)
      label.date-dropdown__label
        input.date-dropdown__input.date-dropdown__input_start(
          class= "js-date-dropdown__input_start" 
          )&attributes(inputAttributes)
        .date-dropdown__button  
    .date-dropdown__input-group   
      .date-dropdown__title
        +title-component(titleRightDropdown)
      label.date-dropdown__label
        input.date-dropdown__input.date-dropdown__input_end(
          class= "js-date-dropdown__input_end"
          )&attributes(inputAttributes)
        .date-dropdown__button
  
