mixin logo({typeLogo = "logoColorless"})
  .logo
    case typeLogo
      when "logoColorless"
        a.logo__link(href="./start-page.html") 
          img.logo__img-logo-ui-kit(
            src=require("../../components/logo/images/logo-ui-kit.svg"),
            alt="Логотип Toxin",
            width="48",
            height="48"
          )
      when "logoWithText" 
        a.logo__link(href="./start-page.html") 
          img.logo__img-logo-toxin(
            src=require("../../components/logo/images/logo-toxin.svg"),
            alt="Логотип Toxin",
            width="106",
            height="40"
          )
