mixin calendar(params = {})
  -
    const {
      blockIsDiv= false,
      forFilter= false,
      readonly= true,
      placeholder= "",
    } = params;

    const filterInput = forFilter ? "calendar__input_filtered" : "";
    const valuePlaceholder = forFilter ? "Выберите даты" : "ДД.ММ.ГГГГ";

    const inputAttributes = {
      readonly: readonly,
      placeholder: valuePlaceholder,
    }

  .calendar
    if blockIsDiv
      .calendar__wrap(class= "js-calendar__wrap")
    else
      label.calendar__label
        input.calendar__input(class= `${filterInput} js-calendar__input`)&attributes(inputAttributes)
        .calendar__arrow