include ../../components/logo/logo
include ../../components/nav-menu/nav-menu
include ../../components/button/button

mixin page-header(params = {})
  -
    const {
      loggedIn= false,
      userName= "",
      hrefUserPanel= "",
      navMenuItems,
      hrefEntryBtn= "",
      hrefCreateBtn= "",
    } = params;

    const navWithLogged = loggedIn
    ? "page-header__nav-menu_with-logged"
    : "";

  header.page-header 
    .page-header__container
      .page-header__logo
        +logo({typeLogo: "logoWithText"})
      .page-header__nav-group
        .page-header__nav-menu(class = `${navWithLogged}`)
          +nav-menu({navMenuItems})
        if loggedIn
          .page-header__user-panel
            a.page-header__user-link(href= hrefUserPanel, title= userName)= userName
        else
          .page-header__button
            +button({
              href: hrefEntryBtn,
              text: "войти",
              withBorder: true,
              forLogin: true,
            })
          .page-header__button
            +button({
              href: hrefCreateBtn,
              text: "зарегистрироваться",
              forRegistration: true,
            })


