mixin checkbox(params = {})
  - 
    const {
      text= "",
      checked= false,
      rich= false,
      title= "",
      textBoxSizeSmall= false,
    } = params;

    const boxSmall = textBoxSizeSmall ? "checkbox__text_box-small" : "";

  .checkbox
    label.checkbox__label
      input.checkbox__input(type= "checkbox" name="checkbox" checked= checked)
    if rich 
      .checkbox__text-group 
        h4.checkbox__title= title
        p.checkbox__text_rich(class= `${boxSmall}`)= text
    else 
      p.checkbox__text= text

