include ../../components/like-button/like-button

mixin testimonial(params = {})
  -
    const {
      avatar= "",
      altImg= "",
      fullName= "",
      writingTime= "",
      desc= "",
      likeBtnCount= null,
      likeBtnActive= true,
    } = params;

  section.testimonial
    .testimonial__field
      .testimonial__avatar
        img.testimonial__img(src= avatar, alt= altImg)
      .testimonial__info 
        h4.testimonial__full-name= fullName 
        p.testimonial__writing-time= writingTime
    .testimonial__desc-and-btn 
      .testimonial__btn 
        +like-button({
          count: likeBtnCount,
          isActive: likeBtnActive
        })
      p.testimonial__desc= desc

