extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/card-search/card-search
include ../../components/card-registration/card-registration
include ../../components/card-booking/card-booking
include ../../components/card-log-in/card-log-in
include ../../components/arrow/arrow
include ../../components/calendar/calendar
include ../../components/card-room/card-room

block variables
  -
    const title = "Cards";

block content
  main.cards
    .cards__logo 
      +logo({typeLogo: "logoColorless"})
    .cards__grid 
      .cards__grid-wrap-left
        .cards__card-search
          +card-search({
            textTitle: "Найдём номера под ваши пожелания",
            hrefSearchBtn: "/mock-address/change-me",
          })
        .cards__card-registration
          +card-registration({
            textTitle: "Регистрация аккаунта",
            blockEntryText: "Уже есть аккаунт на Toxin",
            textSubmitButton: "Перейти к оплате",
            hrefEntryBtn: "/mock-address/change-me",
          })
      .cards__grid-wrap-center
        .cards__card-booking
          +card-booking({
            textNumberBefore: "№ ",
            textNumber: "888 ",
            textNumberAfter: "люкс",
            priceValue: "9 990₽",
            priceText: "в сутки",
            feeText: "Сбор за услуги: скидка",
            hintFeeText: "Подсказка 1",
            additionalFeeText: "Сбор за дополнительные услуги",
            hintAdditionalFeeText: "Подсказка 2",
            totalValueText: "Итого",
          })
        .cards__card-log-in
          +card-log-in({
            textTitle: "Войти",
            createAccText: "Нет аккаунта на Toxin?",
            hrefCreateBtn: "/mock-address/change-me",
          })
      .cards__grid-wrap-right
        .cards__calendar
          +calendar({blockIsDiv: true})
        .cards__card-room-blocks
          -
            const cardRooms = require('../cards/cards-rooms.json');
            const {rooms} = cardRooms;
          each val, index in rooms
            -
              const currentRoomName = `room${index + 1}`;
              const currentRoom = rooms[index][currentRoomName];
              const {
                textNumber,
                textNumberAfter,
                priceValue,
                ratingValue,
                reviewsValue,
                roomsImages,
              } = currentRoom;
            .cards__card-room
              +card-room({
                textNumber: textNumber,
                textNumberAfter: textNumberAfter,
                priceValue: priceValue,
                ratingValue: ratingValue,
                reviewsValue: reviewsValue,
                roomsImages: [
                  {src: require(`../../assets/images/${roomsImages[0].src}`), alt: roomsImages[0].alt},
                  {src: require(`../../assets/images/${roomsImages[1].src}`), alt: roomsImages[1].alt},
                  {src: require(`../../assets/images/${roomsImages[2].src}`), alt: roomsImages[2].alt},
                  {src: require(`../../assets/images/${roomsImages[3].src}`), alt: roomsImages[3].alt},
                ]
              })

