include ../../components/title-form/title-form
include ../../components/desc-state-input/desc-state-input

mixin text-field(params = {})
  -
    const {
      type= "",
      name= "",
      placeholder= "",
      withTitle= false,
      titleText= "",
      descStateText= "", 
      withDescState= false,
      autofocus= false,
      required= true,  
      disabled= false,
      focused= false,
      withArrowButton= false,
    } = params;

    const focusedInput = focused ? "text-field__input_focused" : "";
    const inputAttributes = {
      type: type,
      name: name,
      placeholder: placeholder,
      autofocus: autofocus,
      required: required,
      disabled: disabled,
      withArrow: false
    }

  .text-field
    if withTitle
      .text-field__title-form
        +title-form(titleText)
    if withDescState
      +desc-state-input(descStateText)
    label.text-field__label
      input.text-field__input(class= `${focusedInput}`)&attributes(inputAttributes)
    if withArrowButton
      .text-field__button