mixin text-field(params = {})
  -
    const {
      type= "",
      name= "",
      placeholder= "",
      required= true, 
      autofocus= false, 
      disabled= false,
      focused= false,
      withArrowButton= false,
    } = params;

    const focusedInput = focused ? "text-field__input_focused" : "";
    const inputAttributes = {
      type: type,
      name: name,
      placeholder: placeholder,
      autofocus: autofocus,
      required: required,
      disabled: disabled,
    }

  label.text-field
    input.text-field__input(class= `${focusedInput}`)&attributes(inputAttributes)
    if withArrowButton
      .text-field__button