include ../../components/arrow/arrow

mixin text-field(params = {})
  -
    const {
      type= "",
      name= "",
      placeholder= "",
      value= "",
      required= true, 
      autofocus= false, 
      disabled= false,
      focused= false,
      masked= false,
      withArrowButton= false,
    } = params;

    const focusedInput = focused ? "text-field__input_focused" : "";
    const valueInput = focused ? "This is pretty awesome" : "";
    const maskedInput = masked ? "text-field__input_masked" : "";
    const withArrowButtonInput = withArrowButton ? "text-field_subscribe" : "";
    const subscribeInput = withArrowButton ? "text-field__input_subscribe" : "";

    const inputAttributes = {
      type: type,
      name: name,
      placeholder: placeholder,
      autofocus: autofocus,
      required: required,
      disabled: disabled,
      value: valueInput
    }

  label.text-field(class= `${withArrowButtonInput}`)
    input.text-field__input(
      class= `${focusedInput} ${maskedInput} ${subscribeInput}`)&attributes(inputAttributes)
    if withArrowButton
      button.text-field__btn(type= "submit")
        +arrow({withGradient: true})
        