include ../../components/title-form/title-form

mixin text-field(params = {})
  -
    const {
      titleText= "",
      type= "",
      name= "",
      placeholder= "",
      autofocus= false,
      required= false,  
      disabled= false,
      focused= false,
      hasArrowButton= false
    } = params;

    const focusedInput = focused ? "text-field__input_focused" : "";
    const inputAttributes = {
      type: type,
      name: name,
      placeholder: placeholder,
      autofocus: autofocus,
      required: required,
      disabled: disabled,
      withArrow: false
    }

  .text-field
    .text-field__title-form
      +title-form(titleText)
    input.text-field__input(
      class= `${focusedInput}`)&attributes(inputAttributes)
    if withArrow
      .text-field__button